body{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,150px);
  gap: 10px;
  padding: 10px;
}
.grid-items{
  background-color: #dddddd69;
  padding: 10px;
  font-size: 20px;
}
.a{
  display: inline;
  border-style: solid;
  border-color:lightblue ;
  padding: 5px; 
  float: center;
  background-color:#4CAF50;
  font-size: 20px;
  margin-bottom: 300px;
}
form {
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 2px;
  text-align:left;
  border-radius: 10px;
  }
  
  label {
  display: block;
  padding:2px;
  font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  }
  
  input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  input[type="submit"]:hover {
  background-color: #3e8e41;
  }

  .submit{
    text-align: center;
  }